body {
padding-top: 50px;
background-image: url("resource/img/gif.gif");
margin: 0px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.topbox{
  width: 100%;
  height: 2px;
  top:10%;
  background-color: #2979D5;
}

.div1{
  background-color: rgba(0,0,0,.8);
  width: 1600px;
  height: 1600px;
  position: absolute;
  left: 50%;
  top: 80%;
  margin-top: 235px;
  transform: translate(-50%, -50%);
  border: 1px solid #2979D5;
}

.networks{
    text-align: center;
    color: #2979D5;
}
